.carousel {
  padding: 108px;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  background-color: #fff;
  height: 50px;
  width: 30px;
  border: none;
}
.slick-next {
  right: -70px;
  left: auto;
}
