.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 303px;
  input {
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #ffffff;
    height: 50px;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #4b4b4b;
  }
  &_mt25 {
    margin-top: 20px;
  }
}
